* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Georgia;
}

div#r, div#l {
	float: left;
	display: block;
	background-color: maroon;
	height: 600px;
	color: white;
}

div#l {
	height: 600px;
	width: 30%;
	float: left;
}

div#r {
	width: 70%;
	float: left;
}

p {
	padding: 10px;
	display: block;
	clear: both;
}

footer {
	color: white;
	background-color: dimgray;
}

ul {
	list-style-type:disc;
	float: left;
	padding: 20px;
}

img {
	padding: 10px;
	float: left;
}